GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=


 
# DATABASE
DB_USER=postgres
DB_HOST=
DB_NAME=babeonym
DB_PASSWORD=
DB_PORT=5433

#URLS
FRONTEND_BASE_URL=http://localhost:4200
BACKEND_BASE_URL=http://localhost:3000

#ENVIRONMENTS
NODE_ENV=development